@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
.background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60px;
    z-index: -1;
    object-fit: cover;
}
.login_form1{
    position: absolute;
    top: 150px;
    left: 950px;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 30%;
    background-color: rgba(226, 208, 208, 0.577);
    border-radius: 5%;
}
.text-center1{
    position: absolute;
    left: 170px;
    top: 30px;
    color: aliceblue;
    font-family: 'Caveat', cursive;
    font-size: 60px;
}
.inuser{
    position: absolute;
    top: 150px;
    left: 110px;
    height: 400px;
    width: 270px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.inpuser1{
    position: absolute;
   
    top: 120px;
    left: 110px;
    height: 300px;
    width: 270px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.logsign{
    position: relative;
    left: 180px;
    top: 250px;
    height: 50px;
    width: 100px;
    border-style: none;
    background-color: rgb(150, 85, 11);
    font-family: 'Caveat', cursive;
    font-size: 25px;
}
.logsign:hover{
    background-color: antiquewhite;
}
.directtohome{
    position: absolute;
    top: 400px;
    left: 100px;
    font-family: 'Caveat', cursive;
    font-size: 25px;
    color: black;
}
