@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
.homefeatures{
    position: absolute;
    left: 2px;
    right: 2px;
    width: 198vh;
    height: 90vh;
    z-index: -1;
}
.head{
    color: rgb(62, 84, 103);
    position: relative;
   left: 100px;
   top: 250px;
   font-size: 35px;
    /* background-color: aliceblue; */
}
.para{
    color: rgb(22, 25, 27);
    position: relative;
   left: 115PX;
   top: 250PX;
}
.head1{
    color: rgb(62, 84, 103);
    position: relative;
   left: 100px;
   top: 250px;
   font-size: 35px;
    /* background-color: aliceblue; */
}
.head2{
    color: rgb(62, 84, 103);
    position: absolute;
   left: 100px;
   top: 470px;
   font-size: 35px;
    /* background-color: aliceblue; */
}
.head3{
    color: rgb(62, 84, 103);
    position: absolute;
   left: 100px;
   top: 510px;
   font-size: 35px;
    /* background-color: aliceblue; */
}
.head4{
    color: rgb(62, 84, 103);
    position: absolute;
   left: 100px;
   top: 550px;
   font-size: 35px;
    /* background-color: aliceblue; */
}
.container1{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.244);
    top: 150px;
}
.hf{
    font-family: 'Caveat', cursive;
    font-size: 40px;
}