@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
.loginhome{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
   z-index: -1;
}
.table{
    font-family: 'Lilita One', cursive;
    font-weight: 100;
    font-size: 15px;
}
.ladduser{
    position: relative;
    left: 650px;
    border-radius: 10px;
    border-style: none;
    width: 100px;
    height: 50px;
   background-color: hsla(341, 100%, 85%, 1);
}
.ladduser:hover{
    background-color: palevioletred;
}
.ldelete{
    background-color: hsla(223, 100%, 58%, 1);
    border-radius: 10px;
    height: 40px;
    width: 70px;
    position: relative;
    right: 140px;
    border-style: none;
    color: whitesmoke;
}
.lviewuser{
    background-color: hsla(223, 100%, 58%, 1);
    border-radius: 10px;
    height: 38px;
    width: 70px;
    position: relative;
    right: 70px;
    border-style: none;
    color: whitesmoke;

}
.ledit{
    /* position: absolute;
    right: 200px;
    height: 38px;
    width: 70px; */
    background-color: hsla(223, 100%, 58%, 1);
    border-radius: 10px;
    height: 40px;
    width: 70px;
    position: relative;
    right: 105px;
    border-style: none;
    color: whitesmoke;
}

.hview{
    border-radius: 10px;
    border-style: none;
    width: 90px;
    height: 40px;
}

.table{
    font-size: 20px;
}
.cview{
    border-radius: 10px;
    border-style: none;
    width: 90px;
    height: 40px;
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}